doctype html
html
	head
		title My new 
		style.
			body {
			background: #000;
			color:#fff;
			}
	body
		p
			my new paragraph tag in Jade.
			Bingo

		br

		p
			Hello World!
		input(type="text" name="text")
		input(type="text" name="text")