{% extends "index2.html" %}
{% block content %}
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered">
				<thead>
					<tr>
						<td>Name</td>
						<td>Subject</td>
						<td>Marks</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Rohit</td>
						<td>Algorithms</td>
						<td>12</td>
					</tr>
					<tr>
						<td>Jayant</td>
						<td>Architecture</td>
						<td>14</td>
					</tr>
					<tr>
						<td>Aditya</td>
						<td>Organization</td>
						<td>20</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
 {% endblock %}